@import url('normalize.css');

.container {
    display: grid;
    
    grid-template-columns: 1fr auto 1fr;
    
    justify-items: center; 
    
    align-items: center;
    gap: 20px;
}


h1{
    grid-column: 2;
}

h1 a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #000000;
    grid-area: header;
    justify-content: center;
    
    
}
.btn_use{
    grid-area: left_button;
}
.btn_content{
    grid-area: right_button;
}

.nav_index {
    display: flex;
    gap: 10px;
    padding-top: 100px;
    color: black;
    justify-content: center;
    grid-column: 2;
    

    

}
.btn{
    padding: 15px 30px;
    border-radius: 8px;
    
}
.btn a{
    text-decoration: none;
    color: black;
    
}



 