{% extends "base/wisme_base.html" %}
{% block body %}

<h2>{{page.title}}</h2>
<div>{{page.page_date}}</div>
<div>{{page.thoughts | linebreaksbr}}</div>

{% if page.picture %}
<img src="{{ page.picture.url }}"/>
{% endif %}

<hr>

<table border="1">
    <thead>
        <tr>
            <th>調べた単語</th>
            <th>意味</th>
        </tr>
    </thead>
    <tbody>
        {% for word in words %}
        <tr>
            <td>{{ word.word }}</td>
            <td>{{ word.meaning }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<a href="{% url 'wisme:page_update' page.id %}">編集</a>
<a href="{% url 'wisme:page_delete' page.id %}">削除</a>




{% endblock%}